@import "../abstracts/mixins";
:root {
  --color-primary: #005aea;
  --color-primary-hover: #4692ff;
  --color-secondary: #0183ff;
  --color-tertiary: #3be47a;

  --color-primary-fade: rgba(#005aea, 0.5);

  --color-dark-primary: #47474d;
  --color-dark-secondary: #323232;

  --color-light: #ebe6e6;

  --color-delete: #d11a2a;
  --color-yellow: #fbe292;
  --color-teal: #b6e5e2;
  --color-dark-blue: #083d5d;

  --color-white-dark: #f5f5f5;
  --color-grey: #e5e5e5;

  --color-background: #f5f5fb;

  --color-white: white;
  --color-white-2: #fafbfc;
  --color-white-3: #f6f7fb;
  --color-black: #000;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  // --color-primary-button: #3d3dc3;
  --color-primary-text: #000;
  --color-dropdown-color: #ebf0f7;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-medium: 0 10px 20px rgba(0, 0, 0, 0.1);

  --primary-heading-size: 4rem;

  --secondary-heading-size: 2.7rem;

  --default-font-size: 1.5rem;

  @include respond(tab-port) {
    --primary-heading-size: 4rem;
    --secondary-heading-size: 2.3rem;
  }
  @include respond(phone) {
    --secondary-heading-size: 2.2rem;
    --primary-heading-size: 3rem;
  }

  @include respond(big-desktop) {
    // --default-font-size: 1.4;
  }

  --default-font-size: 1.9rem;
  --default-font-size-medium: 1.6rem;
  --default-font-size-small: 1.4rem;
  --default-font-size-tertiary: 2rem;

  --default-paragraph-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1rem = 12px, 12/16 = 7%5
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 0rem;

  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-family: "Nunito", sans-serif;
  line-height: 1.7;
  color: var(--color-primary-text);

  background-color: var(--color-white);

  // @include respond(big-desktop) {
  //   margin-left: 10rem;
  //   margin-right: 10rem;
  // }
}
