@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// - MEDUA QUERY MANAGER
/*
0 - 600px: Phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px: Big Desktop

&breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600 px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  // 900px
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  // 1200px
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  // 1800 px
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
